.button-container{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}
.btn.btn-rounded {
    border-radius: 50px;
}  

.btn-circle {
    width: 45px;
    height: 45px;
    padding: 0px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 27px;
    line-height: 1.42857;
    font-weight: bold;
}
